# 생물정보학 및 실습 1 - Term Project용 Mission 3 환경 셋업

```
생물정보학 및 실습 1
서울대학교 협동과정 생물정보학전공 2022년 1학기

이 노트북은 Creative Commons BY-SA 조건으로 재사용 가능합니다.
장혜식 <hyeshik@snu.ac.kr>, 서울대학교 생명과학부
```

이 노트북은 Google Colab을 이용해서 Term Project를 할 수 있도록 환경을 준비해 줍니다. 터미널 사용이 원활하지 않은 상태이고, 데이터를 오랫동안 보관하기 어렵기 때문에 되도록 개인용 컴퓨터에서 [Anaconda](https://www.anaconda.com/)나 [JupyterLab](https://jupyterlab.readthedocs.io/en/stable/) 등을 설치하고 사용하시는 것이 편하지만, 개인용 컴퓨터 사양이 부족한 경우에는 Google CoLab을 사용할 수도 있습니다. 개인용 컴퓨터를 쓸 때는 Windows에서는 [WSL2](https://docs.microsoft.com/en-us/windows/wsl/install-win10)를 쓰시면 리눅스 커맨드라인 환경을 쓸 수 있습니다. Google Colab은 창을 닫은 후 90분 후, 또는 창을 처음 열고 12시간 후에 환경을 닫아버리기 때문에 매번 실습할 때마다 새로 셋업이 필요합니다. `Runtime->Run All`을 실행해서 전체를 한 번 실행하시면 준비됩니다. 모든 것이 잘 안 되고 뭔가 꼬인 느낌이 강하게 들 때는 `Runtime->Factory reset runtime`을 누르고 새로 시작하시면 될 수도 있습니다.

## Google Drive 마운트

데이터 파일들을 불러오고 저장하기 위해서 Google Drive를 연결합니다. **이번엔 스크립트 파일을 편집해야 하기 때문에 Google Drive 마운트를 하지 않으면 vim등 콘솔에서 쓸 수 있는 에디터를 쓰셔야 합니다.** 화면에 나오는 주소를 눌러서 인증하고 인증 코드를 그 아래에 입력하세요. 그러면 `/contents/drive/MyDrive`에서 자신의 Drive 최상단 폴더가 보입니다. Google CoLab에서 접속하지 않고, 본인 컴퓨터 또는 연구실 워크스테이션 등 다른 컴퓨터를 쓰시는 경우에는 저장공간이 충분하므로 이 부분은 생략하고 지나갑니다.

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

## 실습용 Bioconda 환경 설치하기
Google CoLab에서 접속하지 않고, 본인 컴퓨터 또는 연구실 워크스테이션 등 다른 컴퓨터를 쓰시는 경우에는 따로 실습용 [Bioconda](https://bioconda.github.io/) 환경을 구축해서 이 노트북을 그 환경 안에서 띄우시면 됩니다.

CoLab을 쓰시는 분들은 다음에 따라서 실습용 프로그램들을 쉽게 설치할 수 있도록 [Bioconda](https://bioconda.github.io/) 환경을 만듭니다. 실행하고 진행상황을 관찰하다가 에러로 보이는 것이 있으면 잘 읽어보고 해결합니다.

파이썬 모듈들은 Colab쪽의 파이썬 인터프리터를 바꿀 수 없기 때문에 Conda에 설치하더라도 사용하기 어렵습니다. 파이썬 모듈은 `pip` 명령어로 설치하시면 Colab에서 불러와서 사용할 수 있습니다.

환경 초기화에 관련된 스크립트는 [GitHub 프로젝트](https://github.com/hyeshik/colab-biolab)에 있습니다.

In [2]:
!git clone https://github.com/hyeshik/colab-biolab.git
!cd colab-biolab && bash tools/setup.sh
exec(open('colab-biolab/tools/activate_conda.py').read())

Cloning into 'colab-biolab'...
remote: Enumerating objects: 69, done.
remote: Counting objects: 100% (69/69), done.
remote: Compressing objects: 100% (43/43), done.
remote: Total 69 (delta 22), reused 54 (delta 13), pack-reused 0
Unpacking objects: 100% (69/69), done.
./
./root/
./root/.vimrc
./root/.profile
./root/.bashrc.biolab
./root/.condarc
./root/.tmux.conf
./root/.bin.priority/
./root/.bin.priority/pip
./root/.bin.priority/pip2
./root/.bin.priority/pip3
--2022-05-19 07:07:55--  https://repo.anaconda.com/miniconda/Miniconda3-latest-Linux-x86_64.sh
Resolving repo.anaconda.com (repo.anaconda.com)... 104.16.130.3, 104.16.131.3, 2606:4700::6810:8203, ...
Connecting to repo.anaconda.com (repo.anaconda.com)|104.16.130.3|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 76607678 (73M) [application/x-sh]
Saving to: ‘miniconda3.sh’

miniconda3.sh       100%[===================>]  73.06M   310MB/s    in 0.2s

2022-05-19 07:07:55 (310 MB/s) - ‘miniconda3.sh’ saved [76607678/76607678]

PREFIX=/root/conda
Unpacking payload ...
Collecting package metadata (current_repodata.json): - \ | done
Solving environment: - \ | done

## Package Plan ##

  environment location: /root/conda

  added / updated specs:
    - _libgcc_mutex==0.1=main
    - _openmp_mutex==4.5=1_gnu
    - brotlipy==0.7.0=py39h27cfd23_1003
    - ca-certificates==2022.3.29=h06a4308_1
    - certifi==2021.10.8=py39h06a4308_2
    - cffi==1.15.0=py39hd667e15_1
    - charset-normalizer==2.0.4=pyhd3eb1b0_0
    - colorama==0.4.4=pyhd3eb1b0_0
    - conda-content-trust==0.1.1=pyhd3eb1b0_0
    - conda-package-handling==1.8.1=py39h7f8727e_0
    - conda==4.12.0=py39h06a4308_0
    - cryptography==36.0.0=py39h9ce1e76_0
    - idna==3.3=pyhd3eb1b0_0
    - ld_impl_linux-64==2.35.1=h7274673_9
    - libffi==3.3=he6710b0_2
    - libgcc-ng==9.3.0=h5101ec6_17
    - libgomp==9.3.0=h5101ec6_17
    - libstdcxx-ng==9.3.0=hd4cf53a_17
    - ncurses==6.3=h7f8727e_2
    - openssl==1.1.1n=h7f8727e_0
    - pip==21.2.4=py39h06a4308_0
    - pycosat==0.6.3=py39h27cfd23_0
    - pycparser==2.21=pyhd3eb1b0_0
    - pyopenssl==22.0.0=pyhd3eb1b0_0
    - pysocks==1.7.1=py39h06a4308_0
    - python==3.9.12=h12debd9_0
    - readline==8.1.2=h7f8727e_1
    - requests==2.27.1=pyhd3eb1b0_0
    - ruamel_yaml==0.15.100=py39h27cfd23_0
    - setuptools==61.2.0=py39h06a4308_0
    - six==1.16.0=pyhd3eb1b0_1
    - sqlite==3.38.2=hc218d9a_0
    - tk==8.6.11=h1ccaba5_0
    - tqdm==4.63.0=pyhd3eb1b0_0
    - tzdata==2022a=hda174b7_0
    - urllib3==1.26.8=pyhd3eb1b0_0
    - wheel==0.37.1=pyhd3eb1b0_0
    - xz==5.2.5=h7b6447c_0
    - yaml==0.2.5=h7b6447c_0
    - zlib==1.2.12=h7f8727e_1


The following NEW packages will be INSTALLED:

  _libgcc_mutex      pkgs/main/linux-64::_libgcc_mutex-0.1-main
  _openmp_mutex      pkgs/main/linux-64::_openmp_mutex-4.5-1_gnu
  brotlipy           pkgs/main/linux-64::brotlipy-0.7.0-py39h27cfd23_1003
  ca-certificates    pkgs/main/linux-64::ca-certificates-2022.3.29-h06a4308_1
  certifi            pkgs/main/linux-64::certifi-2021.10.8-py39h06a4308_2
  cffi               pkgs/main/linux-64::cffi-1.15.0-py39hd667e15_1
  charset-normalizer pkgs/main/noarch::charset-normalizer-2.0.4-pyhd3eb1b0_0
  colorama           pkgs/main/noarch::colorama-0.4.4-pyhd3eb1b0_0
  conda              pkgs/main/linux-64::conda-4.12.0-py39h06a4308_0
  conda-content-tru~ pkgs/main/noarch::conda-content-trust-0.1.1-pyhd3eb1b0_0
  conda-package-han~ pkgs/main/linux-64::conda-package-handling-1.8.1-py39h7f8727e_0
  cryptography       pkgs/main/linux-64::cryptography-36.0.0-py39h9ce1e76_0
  idna               pkgs/main/noarch::idna-3.3-pyhd3eb1b0_0
  ld_impl_linux-64   pkgs/main/linux-64::ld_impl_linux-64-2.35.1-h7274673_9
  libffi             pkgs/main/linux-64::libffi-3.3-he6710b0_2
  libgcc-ng          pkgs/main/linux-64::libgcc-ng-9.3.0-h5101ec6_17
  libgomp            pkgs/main/linux-64::libgomp-9.3.0-h5101ec6_17
  libstdcxx-ng       pkgs/main/linux-64::libstdcxx-ng-9.3.0-hd4cf53a_17
  ncurses            pkgs/main/linux-64::ncurses-6.3-h7f8727e_2
  openssl            pkgs/main/linux-64::openssl-1.1.1n-h7f8727e_0
  pip                pkgs/main/linux-64::pip-21.2.4-py39h06a4308_0
  pycosat            pkgs/main/linux-64::pycosat-0.6.3-py39h27cfd23_0
  pycparser          pkgs/main/noarch::pycparser-2.21-pyhd3eb1b0_0
  pyopenssl          pkgs/main/noarch::pyopenssl-22.0.0-pyhd3eb1b0_0
  pysocks            pkgs/main/linux-64::pysocks-1.7.1-py39h06a4308_0
  python             pkgs/main/linux-64::python-3.9.12-h12debd9_0
  readline           pkgs/main/linux-64::readline-8.1.2-h7f8727e_1
  requests           pkgs/main/noarch::requests-2.27.1-pyhd3eb1b0_0
  ruamel_yaml        pkgs/main/linux-64::ruamel_yaml-0.15.100-py39h27cfd23_0
  setuptools         pkgs/main/linux-64::setuptools-61.2.0-py39h06a4308_0
  six                pkgs/main/noarch::six-1.16.0-pyhd3eb1b0_1
  sqlite             pkgs/main/linux-64::sqlite-3.38.2-hc218d9a_0
  tk                 pkgs/main/linux-64::tk-8.6.11-h1ccaba5_0
  tqdm               pkgs/main/noarch::tqdm-4.63.0-pyhd3eb1b0_0
  tzdata             pkgs/main/noarch::tzdata-2022a-hda174b7_0
  urllib3            pkgs/main/noarch::urllib3-1.26.8-pyhd3eb1b0_0
  wheel              pkgs/main/noarch::wheel-0.37.1-pyhd3eb1b0_0
  xz                 pkgs/main/linux-64::xz-5.2.5-h7b6447c_0
  yaml               pkgs/main/linux-64::yaml-0.2.5-h7b6447c_0
  zlib               pkgs/main/linux-64::zlib-1.2.12-h7f8727e_1


Preparing transaction: - \ | / done
Executing transaction: \ | / - \ | / - \ | / - \ | / done
installation finished.
WARNING:
    You currently have a PYTHONPATH environment variable set. This may cause
    unexpected behavior when running the Python interpreter in Miniconda3.
    For best results, please verify that your PYTHONPATH only points to
    directories of packages that are compatible with the Python interpreter
    in Miniconda3: /root/conda
Collecting package metadata (current_repodata.json): - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ done
Solving environment: / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ done

## Package Plan ##

  environment location: /root/conda/envs/lab

  added / updated specs:
    - bedtools
    - biopython
    - bwa
    - cython
    - matplotlib
    - numpy
    - pandas
    - pip
    - pysam
    - samtools
    - scipy
    - star


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    _libgcc_mutex-0.1          |      conda_forge           3 KB  conda-forge
    _openmp_mutex-4.5          |            2_gnu          23 KB  conda-forge
    alsa-lib-1.2.3.2           |       h166bdaf_0         554 KB  conda-forge
    attr-2.5.1                 |       h166bdaf_0          69 KB  conda-forge
    bedtools-2.30.0            |       h468198e_3        15.5 MB  bioconda
    biopython-1.79             |   py39h3811e60_1         2.6 MB  conda-forge
    brotli-1.0.9               |       h166bdaf_7          18 KB  conda-forge
    brotli-bin-1.0.9           |       h166bdaf_7          19 KB  conda-forge
    bwa-0.7.17                 |       h7132678_9         187 KB  bioconda
    bzip2-1.0.8                |       h7f98852_4         484 KB  conda-forge
    c-ares-1.18.1              |       h7f98852_0         113 KB  conda-forge
    ca-certificates-2022.5.18  |       ha878542_0         144 KB  conda-forge
    certifi-2022.5.18          |   py39hf3d152e_0         150 KB  conda-forge
    cycler-0.11.0              |     pyhd8ed1ab_0          10 KB  conda-forge
    cython-0.29.30             |   py39h5a03fae_0         2.1 MB  conda-forge
    dbus-1.13.6                |       h5008d03_3         604 KB  conda-forge
    expat-2.4.8                |       h27087fc_0         187 KB  conda-forge
    fftw-3.3.10                |nompi_h77c792f_102         6.4 MB  conda-forge
    font-ttf-dejavu-sans-mono-2.37|       hab24e00_0         388 KB  conda-forge
    font-ttf-inconsolata-3.000 |       h77eed37_0          94 KB  conda-forge
    font-ttf-source-code-pro-2.038|       h77eed37_0         684 KB  conda-forge
    font-ttf-ubuntu-0.83       |       hab24e00_0         1.9 MB  conda-forge
    fontconfig-2.14.0          |       h8e229c2_0         305 KB  conda-forge
    fonts-conda-ecosystem-1    |                0           4 KB  conda-forge
    fonts-conda-forge-1        |                0           4 KB  conda-forge
    fonttools-4.33.3           |   py39hb9d737c_0         1.6 MB  conda-forge
    freetype-2.10.4            |       h0708190_1         890 KB  conda-forge
    gettext-0.19.8.1           |    h73d1719_1008         3.6 MB  conda-forge
    giflib-5.2.1               |       h36c2ea0_2          77 KB  conda-forge
    gst-plugins-base-1.20.2    |       hcf0ee16_0         2.8 MB  conda-forge
    gstreamer-1.20.2           |       hd4edc92_1         2.0 MB  conda-forge
    htslib-1.15.1              |       h9753748_0         2.1 MB  bioconda
    icu-70.1                   |       h27087fc_0        13.5 MB  conda-forge
    jack-1.9.18                |    hfd4fe87_1001         640 KB  conda-forge
    jbig-2.1                   |    h7f98852_2003          43 KB  conda-forge
    jpeg-9e                    |       h166bdaf_1         268 KB  conda-forge
    json-c-0.15                |       h98cffda_0         274 KB  conda-forge
    keyutils-1.6.1             |       h166bdaf_0         115 KB  conda-forge
    kiwisolver-1.4.2           |   py39hf939315_1          75 KB  conda-forge
    krb5-1.19.3                |       h3790be6_0         1.4 MB  conda-forge
    lcms2-2.12                 |       hddcbb42_0         443 KB  conda-forge
    ld_impl_linux-64-2.36.1    |       hea4e1c9_2         667 KB  conda-forge
    lerc-3.0                   |       h9c3ff4c_0         216 KB  conda-forge
    libblas-3.9.0              |14_linux64_openblas          12 KB  conda-forge
    libbrotlicommon-1.0.9      |       h166bdaf_7          65 KB  conda-forge
    libbrotlidec-1.0.9         |       h166bdaf_7          33 KB  conda-forge
    libbrotlienc-1.0.9         |       h166bdaf_7         287 KB  conda-forge
    libcap-2.51                |       h166bdaf_1          85 KB  conda-forge
    libcblas-3.9.0             |14_linux64_openblas          12 KB  conda-forge
    libclang-14.0.3            |default_h2e3cab8_0         127 KB  conda-forge
    libclang13-14.0.3          |default_h3a83d3e_0        10.6 MB  conda-forge
    libcups-2.3.3              |       hf5a7f15_1         4.6 MB  conda-forge
    libcurl-7.83.1             |       h7bff187_0         342 KB  conda-forge
    libdb-6.2.32               |       h9c3ff4c_0        23.3 MB  conda-forge
    libdeflate-1.10            |       h7f98852_0          77 KB  conda-forge
    libedit-3.1.20191231       |       he28a2e2_2         121 KB  conda-forge
    libev-4.33                 |       h516909a_1         104 KB  conda-forge
    libevent-2.1.10            |       h9b69904_4         1.1 MB  conda-forge
    libffi-3.4.2               |       h7f98852_5          57 KB  conda-forge
    libflac-1.3.4              |       h27087fc_0         474 KB  conda-forge
    libgcc-ng-12.1.0           |      h8d9b700_16         940 KB  conda-forge
    libgfortran-ng-12.1.0      |      h69a702a_16          23 KB  conda-forge
    libgfortran5-12.1.0        |      hdcd56e2_16         1.8 MB  conda-forge
    libglib-2.70.2             |       h174f98d_4         3.1 MB  conda-forge
    libgomp-12.1.0             |      h8d9b700_16         459 KB  conda-forge
    libiconv-1.16              |       h516909a_0         1.4 MB  conda-forge
    liblapack-3.9.0            |14_linux64_openblas          12 KB  conda-forge
    libllvm14-14.0.3           |       he0ac6c6_0        35.2 MB  conda-forge
    libnghttp2-1.47.0          |       h727a467_0         808 KB  conda-forge
    libnsl-2.0.0               |       h7f98852_0          31 KB  conda-forge
    libogg-1.3.4               |       h7f98852_1         206 KB  conda-forge
    libopenblas-0.3.20         |pthreads_h78a6416_0        10.1 MB  conda-forge
    libopus-1.3.1              |       h7f98852_1         255 KB  conda-forge
    libpng-1.6.37              |       h21135ba_2         306 KB  conda-forge
    libpq-14.3                 |       hd77ab85_0         3.0 MB  conda-forge
    libsndfile-1.0.31          |       h9c3ff4c_1         602 KB  conda-forge
    libssh2-1.10.0             |       ha56f1ee_2         233 KB  conda-forge
    libstdcxx-ng-12.1.0        |      ha89aaad_16         4.3 MB  conda-forge
    libtiff-4.3.0              |       h542a066_3         638 KB  conda-forge
    libtool-2.4.6              |    h9c3ff4c_1008         511 KB  conda-forge
    libuuid-2.32.1             |    h7f98852_1000          28 KB  conda-forge
    libvorbis-1.3.7            |       h9c3ff4c_0         280 KB  conda-forge
    libwebp-1.2.2              |       h3452ae3_0          85 KB  conda-forge
    libwebp-base-1.2.2         |       h7f98852_1         824 KB  conda-forge
    libxcb-1.13                |    h7f98852_1004         391 KB  conda-forge
    libxkbcommon-1.0.3         |       he3ba5ed_0         581 KB  conda-forge
    libxml2-2.9.14             |       h22db469_0         770 KB  conda-forge
    libzlib-1.2.11             |    h166bdaf_1014          60 KB  conda-forge
    lz4-c-1.9.3                |       h9c3ff4c_1         179 KB  conda-forge
    matplotlib-3.5.2           |   py39hf3d152e_0           6 KB  conda-forge
    matplotlib-base-3.5.2      |   py39h700656a_0         7.3 MB  conda-forge
    munkres-1.1.4              |     pyh9f0ad1d_0          12 KB  conda-forge
    mysql-common-8.0.29        |       haf5c9bc_1         1.8 MB  conda-forge
    mysql-libs-8.0.29          |       h28c427c_1         1.9 MB  conda-forge
    ncurses-6.3                |       h27087fc_1        1002 KB  conda-forge
    nspr-4.32                  |       h9c3ff4c_1         233 KB  conda-forge
    nss-3.77                   |       h2350873_0         2.1 MB  conda-forge
    numpy-1.22.3               |   py39hc58783e_2         6.8 MB  conda-forge
    openjpeg-2.4.0             |       hb52868f_1         444 KB  conda-forge
    openssl-1.1.1o             |       h166bdaf_0         2.1 MB  conda-forge
    packaging-21.3             |     pyhd8ed1ab_0          36 KB  conda-forge
    pandas-1.4.2               |   py39h1832856_1        12.5 MB  conda-forge
    pcre-8.45                  |       h9c3ff4c_0         253 KB  conda-forge
    perl-5.32.1                | 2_h7f98852_perl5        14.4 MB  conda-forge
    pillow-9.1.1               |   py39hae2aec6_0        44.7 MB  conda-forge
    pip-22.1                   |     pyhd8ed1ab_0         1.6 MB  conda-forge
    pthread-stubs-0.4          |    h36c2ea0_1001           5 KB  conda-forge
    pulseaudio-14.0            |       hb166930_4         1.6 MB  conda-forge
    pyparsing-3.0.9            |     pyhd8ed1ab_0          79 KB  conda-forge
    pyqt-5.15.4                |   py39h5a03fae_0         6.2 MB  conda-forge
    pyqt5-sip-12.9.0           |   py39h5a03fae_0          84 KB  conda-forge
    pysam-0.19.0               |   py39h5030a8b_0         2.7 MB  bioconda
    python-3.9.12              |h9a8a25e_1_cpython        26.7 MB  conda-forge
    python-dateutil-2.8.2      |     pyhd8ed1ab_0         240 KB  conda-forge
    python_abi-3.9             |           2_cp39           4 KB  conda-forge
    pytz-2022.1                |     pyhd8ed1ab_0         242 KB  conda-forge
    qt-main-5.15.3             |       hf97cb25_1        62.2 MB  conda-forge
    readline-8.1               |       h46c0cb4_0         295 KB  conda-forge
    samtools-1.15.1            |       h1170115_0         393 KB  bioconda
    scipy-1.8.0                |   py39hee8e79c_1        25.4 MB  conda-forge
    setuptools-62.3.1          |   py39hf3d152e_0         1.4 MB  conda-forge
    sip-6.5.1                  |   py39he80948d_2         389 KB  conda-forge
    six-1.16.0                 |     pyh6c4a22f_0          14 KB  conda-forge
    sqlite-3.38.5              |       h4ff8645_0         1.5 MB  conda-forge
    star-2.7.10a               |       h9ee0642_0         4.9 MB  bioconda
    tk-8.6.12                  |       h27826a3_0         3.3 MB  conda-forge
    toml-0.10.2                |     pyhd8ed1ab_0          18 KB  conda-forge
    tornado-6.1                |   py39hb9d737c_3         649 KB  conda-forge
    tzdata-2022a               |       h191b570_0         121 KB  conda-forge
    unicodedata2-14.0.0        |   py39hb9d737c_1         498 KB  conda-forge
    wheel-0.37.1               |     pyhd8ed1ab_0          31 KB  conda-forge
    xorg-libxau-1.0.9          |       h7f98852_0          13 KB  conda-forge
    xorg-libxdmcp-1.1.3        |       h7f98852_0          19 KB  conda-forge
    xz-5.2.5                   |       h516909a_1         343 KB  conda-forge
    zlib-1.2.11                |    h166bdaf_1014          88 KB  conda-forge
    zstd-1.5.2                 |       h8a70e8d_1         452 KB  conda-forge
    ------------------------------------------------------------
                                           Total:       408.3 MB

The following NEW packages will be INSTALLED:

  _libgcc_mutex      conda-forge/linux-64::_libgcc_mutex-0.1-conda_forge
  _openmp_mutex      conda-forge/linux-64::_openmp_mutex-4.5-2_gnu
  alsa-lib           conda-forge/linux-64::alsa-lib-1.2.3.2-h166bdaf_0
  attr               conda-forge/linux-64::attr-2.5.1-h166bdaf_0
  bedtools           bioconda/linux-64::bedtools-2.30.0-h468198e_3
  biopython          conda-forge/linux-64::biopython-1.79-py39h3811e60_1
  brotli             conda-forge/linux-64::brotli-1.0.9-h166bdaf_7
  brotli-bin         conda-forge/linux-64::brotli-bin-1.0.9-h166bdaf_7
  bwa                bioconda/linux-64::bwa-0.7.17-h7132678_9
  bzip2              conda-forge/linux-64::bzip2-1.0.8-h7f98852_4
  c-ares             conda-forge/linux-64::c-ares-1.18.1-h7f98852_0
  ca-certificates    conda-forge/linux-64::ca-certificates-2022.5.18-ha878542_0
  certifi            conda-forge/linux-64::certifi-2022.5.18-py39hf3d152e_0
  cycler             conda-forge/noarch::cycler-0.11.0-pyhd8ed1ab_0
  cython             conda-forge/linux-64::cython-0.29.30-py39h5a03fae_0
  dbus               conda-forge/linux-64::dbus-1.13.6-h5008d03_3
  expat              conda-forge/linux-64::expat-2.4.8-h27087fc_0
  fftw               conda-forge/linux-64::fftw-3.3.10-nompi_h77c792f_102
  font-ttf-dejavu-s~ conda-forge/noarch::font-ttf-dejavu-sans-mono-2.37-hab24e00_0
  font-ttf-inconsol~ conda-forge/noarch::font-ttf-inconsolata-3.000-h77eed37_0
  font-ttf-source-c~ conda-forge/noarch::font-ttf-source-code-pro-2.038-h77eed37_0
  font-ttf-ubuntu    conda-forge/noarch::font-ttf-ubuntu-0.83-hab24e00_0
  fontconfig         conda-forge/linux-64::fontconfig-2.14.0-h8e229c2_0
  fonts-conda-ecosy~ conda-forge/noarch::fonts-conda-ecosystem-1-0
  fonts-conda-forge  conda-forge/noarch::fonts-conda-forge-1-0
  fonttools          conda-forge/linux-64::fonttools-4.33.3-py39hb9d737c_0
  freetype           conda-forge/linux-64::freetype-2.10.4-h0708190_1

설정이 끝났으면, 이제 콘솔을 열어서 터미널로 접속할 수 있는 통로를 열어줍니다.

## 시퀀싱 데이터 다운로드
이제 실습 수업에서 필요한 시퀀싱 데이터를 다운로드 받아서 설치합시다. 드라이브 공간만 충분하면 데이터는 계속 저장돼 있기 때문에 학기 전체를 통해서 딱 한 번만 하시면 됩니다. Colab에서는 작업용 데이터를 Google Drive 폴더 아래의 `binfo-datapack1`에 저장합니다. 실습용 데이터는 `/content/drive/MyDrive/binfo1-datapack1`에 풀리게 됩니다.

### (Option 1) Google CoLab에서 접속한 경우
1. [Google Drive 공유폴더](https://drive.google.com/drive/folders/1Y190lbO42VEzjjQkgoxNf_EcZJlHyZa1?usp=sharing)에 접속합니다.
1. 중간 제목줄의 "binfo1-datapack1 ▾"에서 ▾을 누릅니다.
1. Add shortcut to Drive를 누릅니다.
1. My Drive를 선택해서 ADD SHORTCUT 버튼을 누릅니다.
1. 다음 cell을 실행해서 링크가 제대로 들어왔는지 확인합니다. (바로 확인되지 않으면 3–5분 정도 기다렸다가 하면 됩니다.)
1. 제대로 확인되면 다음으로 넘어갑니다.

In [ ]:
!ls -al /content/drive/MyDrive/binfo1-datapack1/

### (Option 2) CoLab외의 다른 환경에서 접속한 경우
본인 컴퓨터나 연구실 워크스테이션 등에서 작업하는 경우에는 다음 명령어로 다운로드 받으시면 됩니다. 첫 번째에는 wget이 접속오류를 내는 경우가 많으니, 접속에러가 발생하면 다시 한 번 실행해 보세요. `/content/drive/Mydrive` 부분은 원하는 저장 경로로 바꿔서 지정하시면 됩니다.

In [ ]:
!wget -O - --no-check-certificate https://hyeshik.qbio.io/binfo/binfo1-datapack1.tar | tar -C /content/drive/MyDrive -xf -

### 파일 체크섬 확인

받은 데이터의 MD5 체크섬을 확인합니다. 한참 걸립니다. 각 파일들의 원래 체크섬은 다음과 같습니다. 한 번 비교해 보세요.

```
140aaf30bcb9276cc716f8699f04ddd6  CLIP-35L33G.bam
f1b3336ed7e2f97d562dcc71641251bd  CLIP-35L33G.bam.bai
328883a73d507eafbf5b60bd6b906201  RNA-control.bam
02073818e2f398a73c3b76e5169de1ca  RNA-control.bam.bai
b09550d09d6c2a4ce27f0226f426fdb1  RNA-siLin28a.bam
fef112c727244060ea62d3f2564a07f6  RNA-siLin28a.bam.bai
28bbd0c47d725669340c784f1b772c01  RNA-siLuc.bam
43590fdc4d81905c0432e0d1cb8cfd5b  RNA-siLuc.bam.bai
5c08a9297307bc83259e658c4474f0cc  RPF-siLin28a.bam
a1bb3e29be412dfd7fd8d16b1b1acc4c  RPF-siLin28a.bam.bai
f2eebf50943024d0116c9cd3e744c707  RPF-siLuc.bam
dc24f69e8f571fc8be30f28ce5b84fcd  RPF-siLuc.bam.bai
```

In [ ]:
!md5sum drive/MyDrive/binfo1-datapack1/*

실습에 필요한 프로그램들 몇 가지를 추가로 설치합니다.

In [ ]:
!conda install -y bedtools bioawk

## Mission 3

이번 미션에서는 Figure S2A 아랫쪽에 표시되는 clustered error 분석 (CIMS; Crosslinking-induced mutation sites)을 합니다. 자외선에 의해서 단백질이 붙어있다가 단백질 분해효소로 단백질을 뜯어내고 남은 자리에서는 reversetranscriptase가 오류를 자주 냅니다. 오류율을 분석해서 단백질이 앉아 있었던 자리를 분석해 봅시다.

데이터는 지난 번과 동일하기 때문에 이미 다운로드 받으셨다면 다시 다운로드 받을 필요는 없습니다.

In [3]:
%cd /content/drive/MyDrive/binfo1-datapack1/

/content/drive/MyDrive/binfo1-datapack1

Genome 전체로 계산하는 방법은 자원도 꽤 쓰고 시간이 걸리기 때문에 여기서는 유전자 단위로 간략하게 하도록 합시다. 예시로 Mirlet7g를 해 보고, 추가로 Mirlet7f-1과 Mirlet7d도 봐서 비교해 봅시다.

논문은 예전 레퍼런스 유전체인 mm9을 쓰고 있기 때문에, 현재 사용되는 레퍼런스 mm39와는 좌표계에 차이가 있습니다. 새로 annotation에서 위치를 찾습니다.

In [4]:
!grep -i mirlet7g gencode.gtf

chr9	ENSEMBL	gene	106056039	106056126	.	+	.	gene_id "ENSMUSG00000065440.3"; gene_type "miRNA"; gene_name "Mirlet7g"; level 3; mgi_id "MGI:2676800";
chr9	ENSEMBL	transcript	106056039	106056126	.	+	.	gene_id "ENSMUSG00000065440.3"; transcript_id "ENSMUST00000083506.3"; gene_type "miRNA"; gene_name "Mirlet7g"; transcript_type "miRNA"; transcript_name "Mirlet7g-201"; level 3; transcript_support_level "NA"; mgi_id "MGI:2676800"; tag "basic";
chr9	ENSEMBL	exon	106056039	106056126	.	+	.	gene_id "ENSMUSG00000065440.3"; transcript_id "ENSMUST00000083506.3"; gene_type "miRNA"; gene_name "Mirlet7g"; transcript_type "miRNA"; transcript_name "Mirlet7g-201"; exon_number 1; exon_id "ENSMUSE00000522665.2"; level 3; transcript_support_level "NA"; mgi_id "MGI:2676800"; tag "basic";

In [10]:
!grep -i mirlet7f-1 gencode.gtf

chr13	ENSEMBL	gene	48691305	48691393	.	-	.	gene_id "ENSMUSG00000105621.3"; gene_type "miRNA"; gene_name "Mirlet7f-1"; level 3; mgi_id "MGI:2676798";
chr13	ENSEMBL	transcript	48691305	48691393	.	-	.	gene_id "ENSMUSG00000105621.3"; transcript_id "ENSMUST00000198652.3"; gene_type "miRNA"; gene_name "Mirlet7f-1"; transcript_type "miRNA"; transcript_name "Mirlet7f-1-201"; level 3; transcript_support_level "NA"; mgi_id "MGI:2676798"; tag "basic";
chr13	ENSEMBL	exon	48691305	48691393	.	-	.	gene_id "ENSMUSG00000105621.3"; transcript_id "ENSMUST00000198652.3"; gene_type "miRNA"; gene_name "Mirlet7f-1"; transcript_type "miRNA"; transcript_name "Mirlet7f-1-201"; exon_number 1; exon_id "ENSMUSE00001348852.2"; level 3; transcript_support_level "NA"; mgi_id "MGI:2676798"; tag "basic";

In [11]:
!grep -i mirlet7d gencode.gtf

chr13	ENSEMBL	gene	48689488	48689590	.	-	.	gene_id "ENSMUSG00000065453.3"; gene_type "miRNA"; gene_name "Mirlet7d"; level 3; mgi_id "MGI:2676796";
chr13	ENSEMBL	transcript	48689488	48689590	.	-	.	gene_id "ENSMUSG00000065453.3"; transcript_id "ENSMUST00000083519.3"; gene_type "miRNA"; gene_name "Mirlet7d"; transcript_type "miRNA"; transcript_name "Mirlet7d-201"; level 3; transcript_support_level "NA"; mgi_id "MGI:2676796"; tag "basic";
chr13	ENSEMBL	exon	48689488	48689590	.	-	.	gene_id "ENSMUSG00000065453.3"; transcript_id "ENSMUST00000083519.3"; gene_type "miRNA"; gene_name "Mirlet7d"; transcript_type "miRNA"; transcript_name "Mirlet7d-201"; exon_number 1; exon_id "ENSMUSE00000522678.2"; level 3; transcript_support_level "NA"; mgi_id "MGI:2676796"; tag "basic";

Splicing 되지 않는 transcript이기 때문에 결과가 단조롭습니다. 해당 좌표 범위로 bam을 솎아냅니다.

In [13]:
!samtools view -b -o CLIP-let7g.bam CLIP-35L33G.bam chr9:106056039-106056126
!samtools view CLIP-let7g.bam | wc -l

163

In [16]:
!samtools view -b -o CLIP-let7f-1.bam CLIP-35L33G.bam chr13:48691305-48691393
!samtools view CLIP-let7f-1.bam | wc -l

158

In [23]:
!samtools view -b -o CLIP-let7d.bam CLIP-35L33G.bam chr13:48689488-48689590
!samtools view CLIP-let7d.bam | wc -l

187

각 자리에 mapping된 read들의 분포를 요약하기 위해 samtools mpileup을 이용합니다. Shannon entropy를 구할 때는 reference를 따로 줄 필요는 없습니다. samtools를 쓰지 않고 직접 read를 분석하면 더욱 더 재미있습니다.

#Chr/Position/REF/Mappingreadcount/each nucleotide of mapping read

In [18]:
!samtools mpileup CLIP-let7g.bam > CLIP-let7g.pileup
!wc -l CLIP-let7g.pileup

[mpileup] 1 samples in 1 input files
68548 CLIP-let7g.pileup

In [19]:
!samtools mpileup CLIP-let7f-1.bam > CLIP-let7f-1.pileup
!wc -l CLIP-let7f-1.pileup

[mpileup] 1 samples in 1 input files
97 CLIP-let7f-1.pileup

In [24]:
!samtools mpileup CLIP-let7d.bam > CLIP-let7d.pileup
!wc -l CLIP-let7d.pileup

[mpileup] 1 samples in 1 input files
87 CLIP-let7d.pileup

Mirlet7g는 100bp도 안 되는 짧은 gene인데 `mpileup` 결과는 엄청 길게 나옵니다. 왜 그럴까요? (잘 한 번 생각해 봅시다)

이제 Mirlet7g의 핵심부분을 살펴봐서 어떻게 하면 좋을지 견적을 내 봅니다.

In [25]:
!head CLIP-let7g.pileup

chr9	106007092	N	9	^Ga^Ia^Ha^Ia^Ga^Ga^Ha^Ia^Ia	<IFIGGHII
chr9	106007093	N	9	ggggggggg	AFGIEGDII
chr9	106007094	N	9	ccccccccc	EHHIGAFEH
chr9	106007095	N	9	aaaaaaaaa	?HDIFA>II
chr9	106007096	N	9	aaaaaaaaa	EHHIG@CHH
chr9	106007097	N	9	ttttttttt	=HGEGDFII
chr9	106007098	N	9	aaaaaaaaa	?HHIGDEII
chr9	106007099	N	9	g-2nng-2nng-2nng-2nng-2nng-2nng-2nng-2nng-2nn	?IEHGEDII
chr9	106007100	N	9	*********	8IBIBC@EI
chr9	106007101	N	9	*********	8IBIBC@EI

In [26]:
!head CLIP-let7f-1.pileup

chr13	48691290	N	1	^Gg	A
chr13	48691291	N	26	c^Hc^Ic^Dc^Hc^Gc^Ic^Gc^Ic^Gc^Ic^Ic^Hc^Hc^Hc^Ec^Ic^Ic^Ic^Hc^Hc^Hc^Ic^Ic^Ic^Hc	DDI4G>I@H;GGGFH7IHIHHHFIIG
chr13	48691292	N	25	aaaaaaaaaaaaaaaaaaaaaaaaa	DGIG>IBI?IIGHH7HIEHFFGHIG
chr13	48691293	N	38	gggggggggggggggggggggggggg^Ig^Hg^Ig^Ig^Ig^Ig^Hg^Ig^Ig^Dg^Ig^Ig	DGI4>AIGIBIIGGE/IIIDGHIIIHEGIHIIBIIBII
chr13	48691294	N	49	cccccccccccccccccccccccccccccccccccccc^Ec^Hc^Ic^Hc^Hc^Gc^Ic^Ic^Gc^Ic^Hc	?>I1E5IDG<I>EHH7IIIFHHEIHGCEDIHIEHG?II3BIDD7IHGGH
chr13	48691295	N	58	aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa^Ha^Ia^Ha^Ha^Ha^Ia^Ia^Ia^Ha	BDI?HBIGHGIHGHG7IIIGBGIIIGBEFIIIBIH=II=EIGA6IHGIHDIHGGIII0
chr13	48691296	N	81	aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa^Ia^Ia^Da^Ia^Ha^Ia^Ha^Ga^Ha^Ha^Ga^Ia^Ha^Ha^Ia^Ha^Ha^Ia^Ha^Ia^Ga^Ia^Ga	<GI7H?IGIEIIGHG;FIIGGHIIIGIBGDIHGII@II9FHDA9IIGGHGIEGGIIIBEIBIHIG;DG?IBHICGIHI6I;
chr13	48691297	N	80	gggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggg	8EI.HBIGIGIGGHG1IIIGGGIIIEIBGGIIDII=II=FIGD5IIGDHDIHGGIGH@DIDGDIB1GGDIHGD=EHHGH5
chr13	48691298	N	80	tttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttt	GI4H7IGIGIIGHG7IHIGDHIGIGIBGGHIDIH@II?EIGG=IIGIHDGHG8IFH7DH@HHIG1GH9HDHI<GIDB.H/
chr13	48691299	N	80	cccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccc	<<I7H=I@I;IHGGG7HIIGGHGGHGFEBIEIDII=II:HIC><IIGIHGHGEGIII;HGBIHGD;GF<IGHICEIDII4

In [27]:
!head CLIP-let7d.pileup

chr13	48689488	N	24	^Ga^Ia^Ha^Ia^Ha^Ia^Ia^Ia^Ga^Ia^Ia^Ia^Ia^Ia^Ha^Ia^Ga^Ga^Ga^Ia^Ea^Da^Ha^Ga	BIHGGIHIEIIIGIHIGEGH5BDD
chr13	48689489	N	53	aaaaaaaaaaaaaaaaaaaaaaaaa^Ia^Ha^Ia^Ga^Ga^Ha^Ia^Ia^Ga^Ga^Ia^Ia^Ha^Ia^Ia^Ha^Ha^Da^Ia^Ha^Ia^Ia^Ia^Ia^Ia^Ha^Ga^Ga	GIHIGIIIEIIIIIHIG>EB4@5HDIHIBEGIID?IIGII@H>IGHIIIGHDC
chr13	48689490	N	69	ttttttttttttttttttttttttttttttttttttttttttttttttttttt^Gt^Gt^Ht^Gt^It^It^Ht^It^Gt^Gt^Ht^It^It^It^Ht^It	GIHIGHIFFIIIIIFHGEDG;2>FDIHIDGBIIDBIIDIIAH>IBGIIIGHBG=BG=IIGIDGHFIIHI
chr13	48689491	N	105	aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa^Ia^Ia^Ha^Ga^Ia^Ga^Ia^Ga^Ha^Ha^Ha^Ga^Ia^Ha^Ha^Ia^@a^Ia^Ia^Ia^Ga^Ha^Ha^Ga^Ha^Ga^Ia^Ha^Ga^Ia^Ga^Ha^Ga^Ia^Ia^Ga	EIGHEHHIEIIIIIHIGCBH:?>HGGHI>GBIIGBIIGIHBB;IHIIIIGHDC3=G:IGGIDEHIFIGHII=GIDHEGHHEIGGI7III9=HGBAIGBIGFG>I2
chr13	48689492	N	105	aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa	GIGIEIEI7IIIGIGIG;?F:D@G7GHIAGAIIG3IIGIHDB2IHIIIIDDGC1<GCIIHIGCHIIIEIIIGCIBIEGHH?HHFI9IIIA=GGB?IEGIFEGGIA
chr13	48689493	N	105	ggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggg	BIEIGHGI7IHHGIGHG=?F58>E5EHIAGAHIDAHIGII:EDHHIHIIGG>>5EDAIIFFGDHIIHGIII8EIDIBBHHBIGHI7HII?=GGBEIG>HFEGGIA
chr13	48689494	N	105	ggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggg	FIFEGIFE3HFIGIGHG=?D1?@D5EHIAEADIBFIIGHIBD<IHDGIIGBD>03GEEIHF@DHIIIDIIHEAIDIC>HHBHFDI9FIIE=GGBAIGEFEEGIIA
chr13	48689495	N	104	cccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccc	GID>GHEG.HIHGH>IG2;B;?>E0BCI8G?FGA?HH@HIB?DHBIIIHGBG90BAEIEF8CEDIHGIIHGAI?I3BGH;HHHE7IIIA=GG:?IFEBF2GBI;
chr13	48689496	N	102	cccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccc	FI8EEGEI.GEB<ID>G38B19>BFFI<D<FGAEFIGDFB@@CH>EHH8B7>BDCEEEBBCHBGEEFHIG?I;IG@HH2EEGI9IIIA>;<@IE<E:CDIG<
chr13	48689497	N	104	cccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccc	DIHFBIFG.HIIFIGIB3;B993E:IGHAGDIDC3IIHDIBDHBIIIII>;58?A>IIEHBAHBHIGHIEFBI0BG<HHEEGDG.III?7H?>3IE<H8EDGG?

In [28]:
!awk '$2 >= 106056039 && $2 <= 106056126 { print $0; }' CLIP-let7g.pileup > CLIP-let7g-gene.pileup
!tail CLIP-let7g-gene.pileup
!wc -l CLIP-let7g-gene.pileup

chr9	106056117	N	138	<<<<<<<<<CCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCC	BHEIG?DIIHGHII:;HGIIDGGGIIBGEB?>H<GGIIIIDIIGFHIHH9IGG=GGHIDH?DGIBIIHHGGIEIGI8GIDHDG.GGHEDIIDIDGDHIDGIFGHG;DCDDHEE@I?CGG:IHGIBGIHIIDG@DHIGG
chr9	106056118	N	139	<<<<<<<<<CCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCC	BHEIG?DIIHGHII3AHIIIDGGGIIB3EHFBH>GIIIIIIIIIHIIHHAIIGBDGHIDH?GIIGIIHHDIIHIGIGGI=BGG9GIHHHIIGI=IAIIGGIEHGIEBG@DHDE;IBDGG4IGGIGGIIIIGGGDGIH1G
chr9	106056119	N	138	<<<<<<<<<TTTTTTTTTTTTTTTTTTTTTTTTTT$TTTT$TTTTTTTTTTTTTTT$TTTT$TTTTTTT$TTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTT	BHEIG?DIIGEFII:/GIIEDDHDIIF>BH3<HBEGIHIGFIIIBIIBE:HHGD>EGGDH7BIIGGIHHDHIHDEIGEIDHGG;GIHGHHIGD:IGHD:GGEHH?3G87HD</I=DGG=IHHIHBIFII@<HDHHH1G
chr9	106056120	N	133	<<<<<<<<<TTTTTTTTTTTTTTTTTTTTTTTTTTTT$TTTT$TTT$TTTTTTTTTT$TTTTTTTT$TTTTTTTTTTTT$T$TTTTTT$TTTT$TT$TTTTTTTTTTTTTTTTTTT$TTTTTTTTTTTTTTTTTTTTTTTTTTT	BHEIG?DIIHFBII74BIIIGDIIIIA8DHECHBIIIIIIIIHIIHB?IDGGGFDH?GIIIIHH@GHHGEDDGIEHBEDIHHGIIGI:HBII8DIIHHIBDD;<HDD3HB?@G?HHIIHIIIIIB@HDHDH8G
chr9	106056121	N	118	<<<<<<<<<GGGGGGGGGGGGGGGGGGGG$G$G$G$G$G$G$G$GGGGGG$GG$GGGG$GG$GGGG$G$GGG$GGG$GGG$GGGG$GGGGG$GGGGGGGGG$GGGGGG$GG$GGG$GGG$GGGG$G$GG$GGGGGG$GGGG$G$G$G$G$G$	BHEIG?DIIB<EDI/7BHHFB<FGHI3?GG>HAIHIFEF@H<<2>D3EE;HBAIIIBH4IHG@DI>G482GGFHID:I9II@BH@>HE8@;<HGI:GGBIDEIBIGIIIE?G@EIH7G
chr9	106056122	N	88	<<<<<<<<<C$C$C$C$C$C$C$C$C$C$C$C$C$CCCCCC$C$C$C$C$C$C$CCC$C$C$C$CC$C$CC$CC$C$C$C$C$C$C$C$C$C$C$C$C$C$CC$C$C$C$C$C$CC$CC$C$CCC$C$C$C$C$CCCCC$CCC$C	BHEIG?DIIEEGIIC;GIHEGBIIIIB1=FII?FEIGGGHDBIG=HHIIEBHD>EIHIG=I:HGBIIEF?E;DB3HB<GIHIHHEADF
chr9	106056123	N	31	<<<<<<<<<CCCCCCCCCCCCCCCCCCCCCC	BHEIG?DIIIIII>GIGGIGGD>BIHHHIEH
chr9	106056124	N	31	<<<<<<<<<AAAAAAAAAAAAAAAAAAAAAA	BHEIG?DIIIIHIGGIGGGIG:9DDBIEGFH
chr9	106056125	N	31	<<<<<<<<<GGGGGGGGGGGGGGGGGGGGGG	BHEIG?DIIIIIIGGE@GFIGD;GIGIIFHD
chr9	106056126	N	30	<<<<<<<<<GGGGGGGGGGGGGGGGGGGGG	BHEIG?DIIIIGHGHIGHI>G;GGGIGIHG
88 CLIP-let7g-gene.pileup

In [29]:
!awk '$2 >= 48691305 && $2 <= 48691393 { print $0; }' CLIP-let7f-1.pileup > CLIP-let7f-1-gene.pileup
!tail CLIP-let7f-1-gene.pileup
!wc -l CLIP-let7f-1-gene.pileup

chr13	48691377	N	24	tttttttttttttttttttttttt	BIIGIGEDCGFIFGI@GHIDDIGI
chr13	48691378	N	24	aaaaaaaaaaaaaaaaaaaaaaaa	?HIFIGGGAFEFABI>GII;EIGI
chr13	48691379	N	24	cccccccccccccccccccccccc	EIIGIGGDEGGIEGI;GIIDDIGI
chr13	48691380	N	24	tttttttttttttttttttttttt	EIIGIBGGEGFIFGI@GIIBDIGI
chr13	48691381	N	24	aaaaaaaaaaaaaaaaaaaaaaaa	BEHFIGEG@FCEAGH4GII;AIDH
chr13	48691382	N	24	cccccccccccccccccccccccc	?IEGIHGG?GEGEBI=GIIDEIGG
chr13	48691383	N	24	cccccccccccccccccccccccc	EIGGIGGGAGFGFGI=GIIDGIGG
chr13	48691384	N	24	tttttttttttttttttttttttt	<IGGIHGG>GEGBGI8GII@GIGG
chr13	48691385	N	24	cccccccccccccccccccccccc	BIGGIBDD?GEGBEI=GIIBGIGG
chr13	48691386	N	24	a$a$a$a$a$a$a$a$a$a$a$a$a$a$a$a$a$a$a$a$a$a$a$a$	EIGGIFDECGFGFGI2BIIDGIGG
82 CLIP-let7f-1-gene.pileup

In [30]:
!awk '$2 >= 48689488 && $2 <= 48689590 { print $0; }' CLIP-let7d.pileup > CLIP-let7d-gene.pileup
!tail CLIP-let7d-gene.pileup
!wc -l CLIP-let7d-gene.pileup

chr13	48689565	N	6	cccccc	>IGIIH
chr13	48689566	N	6	tttttt	:IGFIH
chr13	48689567	N	6	aaaaaa	8IFIFI
chr13	48689568	N	6	cccccc	?IGIII
chr13	48689569	N	6	tttttt	;IGIII
chr13	48689570	N	5	aaaaa	EDECD
chr13	48689571	N	6	cccccc	:GGIGG
chr13	48689572	N	6	cccccc	:GGIGG
chr13	48689573	N	6	tttttt	5GGIGG
chr13	48689574	N	6	c$c$c$c$c$c$	;GGIGG
87 CLIP-let7d-gene.pileup

In [31]:
!wc -l CLIP-let7g-gene.pileup

88 CLIP-let7g-gene.pileup

In [32]:
!wc -l CLIP-let7f-1-gene.pileup

82 CLIP-let7f-1-gene.pileup

In [33]:
!wc -l CLIP-let7d-gene.pileup

87 CLIP-let7d-gene.pileup

이제 pandas에 불러와서 분석해 봅니다. R을 쓰시는 분들은 R로 보내서 작업하셔도 됩니다.

In [34]:
import pandas as pd

pileup = pd.read_csv('CLIP-let7g-gene.pileup', sep='\t', names=['chrom', 'pos', '_ref', 'count', 'basereads', 'quals'])
pileup.tail()

,chrom,pos,_ref,count,basereads,quals
83,chr9,106056122,N,88,<<<<<<<<<C$C$C$C$C$C$C$C$C$C$C$C$C$CCCCCC$C$C$...,BHEIG?DIIEEGIIC;GIHEGBIIIIB1=FII?FEIGGGHDBIG=H...
84,chr9,106056123,N,31,<<<<<<<<<CCCCCCCCCCCCCCCCCCCCCC,BHEIG?DIIIIII>GIGGIGGD>BIHHHIEH
85,chr9,106056124,N,31,<<<<<<<<<AAAAAAAAAAAAAAAAAAAAAA,BHEIG?DIIIIHIGGIGGGIG:9DDBIEGFH
86,chr9,106056125,N,31,<<<<<<<<<GGGGGGGGGGGGGGGGGGGGGG,BHEIG?DIIIIIIGGE@GFIGD;GIGIIFHD
87,chr9,106056126,N,30,<<<<<<<<<GGGGGGGGGGGGGGGGGGGGG,BHEIG?DIIIIGHGHIGHI>G;GGGIGIHG

In [38]:
pileup_7f_1 = pd.read_csv('CLIP-let7f-1-gene.pileup', sep='\t', names=['chrom', 'pos', '_ref', 'count', 'basereads', 'quals'])
pileup.tail()

,chrom,pos,_ref,count,basereads,quals
83,chr9,106056122,N,88,<<<<<<<<<C$C$C$C$C$C$C$C$C$C$C$C$C$CCCCCC$C$C$...,BHEIG?DIIEEGIIC;GIHEGBIIIIB1=FII?FEIGGGHDBIG=H...
84,chr9,106056123,N,31,<<<<<<<<<CCCCCCCCCCCCCCCCCCCCCC,BHEIG?DIIIIII>GIGGIGGD>BIHHHIEH
85,chr9,106056124,N,31,<<<<<<<<<AAAAAAAAAAAAAAAAAAAAAA,BHEIG?DIIIIHIGGIGGGIG:9DDBIEGFH
86,chr9,106056125,N,31,<<<<<<<<<GGGGGGGGGGGGGGGGGGGGGG,BHEIG?DIIIIIIGGE@GFIGD;GIGIIFHD
87,chr9,106056126,N,30,<<<<<<<<<GGGGGGGGGGGGGGGGGGGGG,BHEIG?DIIIIGHGHIGHI>G;GGGIGIHG

In [39]:
pileup_7d = pd.read_csv('CLIP-let7d-gene.pileup', sep='\t', names=['chrom', 'pos', '_ref', 'count', 'basereads', 'quals'])
pileup.tail()

,chrom,pos,_ref,count,basereads,quals
83,chr9,106056122,N,88,<<<<<<<<<C$C$C$C$C$C$C$C$C$C$C$C$C$CCCCCC$C$C$...,BHEIG?DIIEEGIIC;GIHEGBIIIIB1=FII?FEIGGGHDBIG=H...
84,chr9,106056123,N,31,<<<<<<<<<CCCCCCCCCCCCCCCCCCCCCC,BHEIG?DIIIIII>GIGGIGGD>BIHHHIEH
85,chr9,106056124,N,31,<<<<<<<<<AAAAAAAAAAAAAAAAAAAAAA,BHEIG?DIIIIHIGGIGGGIG:9DDBIEGFH
86,chr9,106056125,N,31,<<<<<<<<<GGGGGGGGGGGGGGGGGGGGGG,BHEIG?DIIIIIIGGE@GFIGD;GIGIIFHD
87,chr9,106056126,N,30,<<<<<<<<<GGGGGGGGGGGGGGGGGGGGG,BHEIG?DIIIIGHGHIGHI>G;GGGIGIHG

여기서 pileup에서 계산에 사용할 것은 match와 substitution만입니다. 나머지에 해당하는 tag들은 제거합니다.

R을 쓰시는 분들은 R로 보내서 작업하셔도 됩니다.

In [40]:
import re
toremove = re.compile('[<>$*#^]')
pileup['matches'] = pileup['basereads'].apply(lambda x: toremove.sub('', x))

In [41]:
toremove = re.compile('[<>$*#^]')
pileup_7f_1['matches'] = pileup['basereads'].apply(lambda x: toremove.sub('', x))

In [42]:
toremove = re.compile('[<>$*#^]')
pileup_7d['matches'] = pileup['basereads'].apply(lambda x: toremove.sub('', x))

In [43]:
pileup[['chrom', 'pos', 'matches']]

   chrom        pos                                            matches
0   chr9  106056039
1   chr9  106056040
2   chr9  106056041
3   chr9  106056042
4   chr9  106056043
..   ...        ...                                                ...
83  chr9  106056122  CCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCC...
84  chr9  106056123                             CCCCCCCCCCCCCCCCCCCCCC
85  chr9  106056124                             AAAAAAAAAAAAAAAAAAAAAA
86  chr9  106056125                             GGGGGGGGGGGGGGGGGGGGGG
87  chr9  106056126                              GGGGGGGGGGGGGGGGGGGGG

[88 rows x 3 columns]

In [44]:
pileup_7f_1[['chrom', 'pos', 'matches']]

    chrom       pos                                            matches
0   chr13  48691305
1   chr13  48691306
2   chr13  48691307
3   chr13  48691308
4   chr13  48691309
..    ...       ...                                                ...
77  chr13  48691382  GGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGG...
78  chr13  48691383  CCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCC...
79  chr13  48691384  CCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCC...
80  chr13  48691385  TTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTT...
81  chr13  48691386  TTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTT...

[82 rows x 3 columns]

In [45]:
pileup_7d[['chrom', 'pos', 'matches']]

    chrom       pos                                            matches
0   chr13  48689488
1   chr13  48689489
2   chr13  48689490
3   chr13  48689491
4   chr13  48689492
..    ...       ...                                                ...
82  chr13  48689570  GGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGG...
83  chr13  48689571  CCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCC...
84  chr13  48689572                             CCCCCCCCCCCCCCCCCCCCCC
85  chr13  48689573                             AAAAAAAAAAAAAAAAAAAAAA
86  chr13  48689574                             GGGGGGGGGGGGGGGGGGGGGG

[87 rows x 3 columns]

In [53]:
#pile up 한 결과물 이름주기
pile1 = pileup[['chrom','pos', 'matches']]

In [46]:
pile7f1 = pileup_7f_1[['chrom','pos', 'matches']]

In [47]:
pile7d1 = pileup_7d[['chrom','pos', 'matches']]

In [ ]:
pileup[pileup['pos'] == 106056094].iloc[0]['matches']

'GGGGGGAAAAAAAAGGGGGAAAAAAGCCGCAGGATGAGGTGATAAGGGAGGGGTGAAGGGCGGTGAAGGGGAAAAGAGAAAGAAAAATAAAGGGGGAGTGGGAGGAAGAAGAGAATA'

In [50]:
pileup_7f_1[pileup_7f_1['pos'] == 48691378].iloc[0]['matches']

'CCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCC'

자 이제 데이터 준비가 대충 끝났습니다. 다음 순서로 진행해 보세요. (1-4번 단계는 R을 쓰시는 분들은 R로 보내서 작업하셔도 됩니다.)

1. 각 position별로 base수를 셉니다.
1. 각 position별로 Shannon entropy를 계산합니다.
1. 계산한 Shannon entropy를 [bedgraph format](https://genome.ucsc.edu/goldenPath/help/bedgraph.html)으로 출력합니다. 말은 복잡해도 실제로는 간단합니다. 4칸짜리를 만드시면 됩니다.
1. 결과 파일을 본인의 Google Drive에서 가져옵니다.
1. [UCSC Genome Browser](http://genome.ucsc.edu/cgi-bin/hgTracks?db=mm39&lastVirtModeType=default&lastVirtModeExtraState=&virtModeType=default&virtMode=0&nonVirtPosition=&position=chr9%3A106056039-106056126)에 접속해서 Genome은 mm39로 선택합니다.
1. 그래프 아랫쪽의 add custom tracks 버튼을 누릅니다.
1. Paste URLs or data 옆의 Choose File 버튼을 누르고 우리가 만든 bedgraph 파일을 업로드 합니다.
1. 그리고 이리 저리 감상해 보다가 View 메뉴의 PDF/PS 를 눌러서 인증샷을 한 번 찍습니다.
1. Mirlet7d와 Mirlet7f-1도 한 번 해 봅니다.

In [55]:
#position 갯수세기
len1 = pile1.iloc[:,2].str.len()
len7f = pile7f1.iloc[:,2].str.len()
len7d = pile7d1.iloc[:,2].str.len()

In [ ]:
len1

0      0
1      0
2      0
3      0
4      0
      ..
83    79
84    22
85    22
86    22
87    21
Name: matches, Length: 88, dtype: int64

In [ ]:
len1.to_csv('len2.txt')

In [58]:
pile2 = pd.merge(pile1, len1, left_index = True, right_index = True, how = 'left')
pile7f2 = pd.merge(pile7f1, len7f, left_index = True, right_index = True, how = 'left')
pile7d2 = pd.merge(pile7d1, len7d, left_index = True, right_index = True, how = 'left')

In [62]:
pile2

,chrom,pos,matches_x,matches_y
0,chr9,106056039,,0
1,chr9,106056040,,0
2,chr9,106056041,,0
3,chr9,106056042,,0
4,chr9,106056043,,0
...,...,...,...,...
83,chr9,106056122,CCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCC...,79
84,chr9,106056123,CCCCCCCCCCCCCCCCCCCCCC,22
85,chr9,106056124,AAAAAAAAAAAAAAAAAAAAAA,22
86,chr9,106056125,GGGGGGGGGGGGGGGGGGGGGG,22
87,chr9,106056126,GGGGGGGGGGGGGGGGGGGGG,21

In [63]:
pile7f2

,chrom,pos,matches_x,matches_y
0,chr13,48691305,,0
1,chr13,48691306,,0
2,chr13,48691307,,0
3,chr13,48691308,,0
4,chr13,48691309,,0
...,...,...,...,...
77,chr13,48691382,GGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGG...,130
78,chr13,48691383,CCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCC...,129
79,chr13,48691384,CCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCC...,130
80,chr13,48691385,TTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTT...,129
81,chr13,48691386,TTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTT...,124

In [64]:
pile7d2

,chrom,pos,matches_x,matches_y
0,chr13,48689488,,0
1,chr13,48689489,,0
2,chr13,48689490,,0
3,chr13,48689491,,0
4,chr13,48689492,,0
...,...,...,...,...
82,chr13,48689570,GGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGG...,109
83,chr13,48689571,CCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCC...,79
84,chr13,48689572,CCCCCCCCCCCCCCCCCCCCCC,22
85,chr13,48689573,AAAAAAAAAAAAAAAAAAAAAA,22
86,chr13,48689574,GGGGGGGGGGGGGGGGGGGGGG,22

In [ ]:
pile2['matches_x']

0
1
2
3
4
                            ...
83    CCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCC...
84                               CCCCCCCCCCCCCCCCCCCCCC
85                               AAAAAAAAAAAAAAAAAAAAAA
86                               GGGGGGGGGGGGGGGGGGGGGG
87                                GGGGGGGGGGGGGGGGGGGGG
Name: matches_x, Length: 88, dtype: object

In [ ]:
pile2['matches_x'].to_csv('pile2matchesx_txt')

In [ ]:
pile2.to_csv('pile2.txt')

In [60]:
#shannon entropy  계산
import collections
import math

def estimate_shannon_entropy(dna_sequence):
    m = len(dna_sequence)
    bases = collections.Counter([tmp_base for tmp_base in dna_sequence])
 
    shannon_entropy_value = 0
    for base in bases:
        # number of residues
        n_i = bases[base]
        # n_i (# residues type i) / M (# residues in column)
        p_i = n_i / float(m)
        entropy_i = p_i * (math.log(p_i, 2))
        shannon_entropy_value += entropy_i
 
    return shannon_entropy_value * -1

In [ ]:
pile2[pile2['matches_y'] != 0].apply(lambda x: estimate_shannon_entropy(x['matches_x']), axis = 1)

6     1.844973
7    -0.000000
8    -0.000000
9    -0.000000
10   -0.000000
        ...
83   -0.000000
84   -0.000000
85   -0.000000
86   -0.000000
87   -0.000000
Length: 82, dtype: float64

In [65]:
pile7f2[pile7f2['matches_y'] != 0].apply(lambda x: estimate_shannon_entropy(x['matches_x']), axis = 1)

6     1.844973
7    -0.000000
8    -0.000000
9    -0.000000
10   -0.000000
        ...
77   -0.000000
78   -0.000000
79   -0.000000
80   -0.000000
81   -0.000000
Length: 76, dtype: float64

In [66]:
pile7d2[pile7d2['matches_y'] != 0].apply(lambda x: estimate_shannon_entropy(x['matches_x']), axis = 1)

6     1.844973
7    -0.000000
8    -0.000000
9    -0.000000
10   -0.000000
        ...
82   -0.000000
83   -0.000000
84   -0.000000
85   -0.000000
86   -0.000000
Length: 81, dtype: float64

In [75]:

def shannon_entropy_corrected(dna_sequence):
    """Custom implementation of shannon entropy with a full non-binarized sequence
        Formula looks like this
        H(S) = −Σ P(Si) log2 (P(Si))
        P(Si) here is simply the relative frequency of character A,T,G,C or n in the string.
    """
    entropy = 0
    for nucleotide in {'A', 'T', 'G', 'C', 'N'}:
        rel_freq = dna_sequence.count(nucleotide) / len(dna_sequence)
        if rel_freq > 0:
            entropy = entropy + -(rel_freq * math.log(rel_freq, 2))
        
    return entropy

In [88]:
shannon2 = pile2[pile2['matches_y'] != 0].apply(lambda x: shannon_entropy_corrected(x['matches_x']), axis = 1)

In [89]:
shannon7f2 = pile7f2[pile7f2['matches_y'] != 0].apply(lambda x: shannon_entropy_corrected(x['matches_x']), axis = 1)

In [90]:
shannon7d2 = pile7d2[pile7d2['matches_y'] != 0].apply(lambda x: shannon_entropy_corrected(x['matches_x']), axis = 1)

In [ ]:
shannon2.to_csv('shannon2.txt')

In [ ]:
shannon1.to_csv('shannon1.txt')

In [ ]:
shannon1 = pile2[pile2['matches_y'] != 0].apply(lambda x: estimate_shannon_entropy(x['matches_x']), axis = 1)

In [ ]:
shannon1.loc[0.6] = [0]
shannon1.loc[0.5] = [0]
shannon1.loc[0.4] = [0]
shannon1.loc[0.3] = [0]
shannon1.loc[0.2] = [0]
shannon1.loc[0.1] = [0]

In [91]:
shannon2.loc[0.6] = [0]
shannon2.loc[0.5] = [0]
shannon2.loc[0.4] = [0]
shannon2.loc[0.3] = [0]
shannon2.loc[0.2] = [0]
shannon2.loc[0.1] = [0]

In [92]:
shannon7f2.loc[0.6] = [0]
shannon7f2.loc[0.5] = [0]
shannon7f2.loc[0.4] = [0]
shannon7f2.loc[0.3] = [0]
shannon7f2.loc[0.2] = [0]
shannon7f2.loc[0.1] = [0]

In [93]:
shannon7d2.loc[0.6] = [0]
shannon7d2.loc[0.5] = [0]
shannon7d2.loc[0.4] = [0]
shannon7d2.loc[0.3] = [0]
shannon7d2.loc[0.2] = [0]
shannon7d2.loc[0.1] = [0]

In [ ]:
shannon1 = shannon1.sort_index()
shannon1

0.1     [0]
0.2     [0]
0.3     [0]
0.4     [0]
0.5     [0]
       ...
83.0   -0.0
84.0   -0.0
85.0   -0.0
86.0   -0.0
87.0   -0.0
Length: 88, dtype: object

In [94]:
shannon2 = shannon2.sort_index()
shannon2

0.1     [0]
0.2     [0]
0.3     [0]
0.4     [0]
0.5     [0]
       ...
83.0    0.0
84.0    0.0
85.0    0.0
86.0    0.0
87.0    0.0
Length: 88, dtype: object

In [95]:
shannon7f2 = shannon7f2.sort_index()
shannon7f2

0.1     [0]
0.2     [0]
0.3     [0]
0.4     [0]
0.5     [0]
       ...
77.0    0.0
78.0    0.0
79.0    0.0
80.0    0.0
81.0    0.0
Length: 82, dtype: object

In [96]:
shannon7d2 = shannon7d2.sort_index()
shannon7d2

0.1     [0]
0.2     [0]
0.3     [0]
0.4     [0]
0.5     [0]
       ...
82.0    0.0
83.0    0.0
84.0    0.0
85.0    0.0
86.0    0.0
Length: 87, dtype: object

In [ ]:
shannon1 = shannon1.reset_index(drop = True)
shannon1

0     [0]
1     [0]
2     [0]
3     [0]
4     [0]
     ...
83   -0.0
84   -0.0
85   -0.0
86   -0.0
87   -0.0
Length: 88, dtype: object

In [ ]:
shannon2 = shannon2.reset_index(drop = True)
shannon2

0     [0]
1     [0]
2     [0]
3     [0]
4     [0]
     ...
83    0.0
84    0.0
85    0.0
86    0.0
87    0.0
Length: 88, dtype: object

In [98]:
shannon7f2 = shannon7f2.reset_index(drop = True)
shannon7d2 = shannon7d2.reset_index(drop = True)

In [102]:
shannon2.to_csv('shannon2.txt')

In [101]:
shannon7f2.to_csv('shannon7f2.txt')
shannon7d2.to_csv('shannon7d2.txt')

In [ ]:
shannon1.to_csv('shannon1.txt')

In [111]:
shannon3 = pd.read_csv('shannon3.txt')

In [103]:
shannon7f3 = pd.read_csv('shannon7f3.txt')
shannon7d3 = pd.read_csv('shannon7d3.txt')

In [104]:
shannon7f3

    Unnamed: 0  matches
0            0      0.0
1            1      0.0
2            2      0.0
3            3      0.0
4            4      0.0
..         ...      ...
77          77      0.0
78          78      0.0
79          79      0.0
80          80      0.0
81          81      0.0

[82 rows x 2 columns]

In [112]:
shannon3

    Unnamed: 0  shannon
0            0      0.0
1            1      0.0
2            2      0.0
3            3      0.0
4            4      0.0
..         ...      ...
83          83      0.0
84          84      0.0
85          85      0.0
86          86      0.0
87          87      0.0

[88 rows x 2 columns]

In [113]:
pile3 = pd.merge(pile2, shannon3, left_index = True, right_index = True, how = 'left')
pile3

,chrom,pos,matches_x,matches_y,Unnamed: 0,shannon
0,chr9,106056039,,0,0,0.0
1,chr9,106056040,,0,1,0.0
2,chr9,106056041,,0,2,0.0
3,chr9,106056042,,0,3,0.0
4,chr9,106056043,,0,4,0.0
...,...,...,...,...,...,...
83,chr9,106056122,CCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCC...,79,83,0.0
84,chr9,106056123,CCCCCCCCCCCCCCCCCCCCCC,22,84,0.0
85,chr9,106056124,AAAAAAAAAAAAAAAAAAAAAA,22,85,0.0
86,chr9,106056125,GGGGGGGGGGGGGGGGGGGGGG,22,86,0.0
87,chr9,106056126,GGGGGGGGGGGGGGGGGGGGG,21,87,0.0

In [105]:
pile7f3 = pd.merge(pile7f2, shannon7f3, left_index = True, right_index = True, how = 'left')
pile7f3

,chrom,pos,matches_x,matches_y,Unnamed: 0,matches
0,chr13,48691305,,0,0,0.0
1,chr13,48691306,,0,1,0.0
2,chr13,48691307,,0,2,0.0
3,chr13,48691308,,0,3,0.0
4,chr13,48691309,,0,4,0.0
...,...,...,...,...,...,...
77,chr13,48691382,GGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGG...,130,77,0.0
78,chr13,48691383,CCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCC...,129,78,0.0
79,chr13,48691384,CCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCC...,130,79,0.0
80,chr13,48691385,TTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTT...,129,80,0.0
81,chr13,48691386,TTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTT...,124,81,0.0

In [127]:
pile7d3 = pd.merge(pile7d2, shannon7d3, left_index = True, right_index = True, how = 'left')
pile7d3

,chrom,pos,matches_x,matches_y,Unnamed: 0,matches
0,chr13,48689488,,0,0,0.0
1,chr13,48689489,,0,1,0.0
2,chr13,48689490,,0,2,0.0
3,chr13,48689491,,0,3,0.0
4,chr13,48689492,,0,4,0.0
...,...,...,...,...,...,...
82,chr13,48689570,GGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGG...,109,82,0.0
83,chr13,48689571,CCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCC...,79,83,0.0
84,chr13,48689572,CCCCCCCCCCCCCCCCCCCCCC,22,84,0.0
85,chr13,48689573,AAAAAAAAAAAAAAAAAAAAAA,22,85,0.0
86,chr13,48689574,GGGGGGGGGGGGGGGGGGGGGG,22,86,0.0

In [114]:
#bedfile format : CHR, 시작위치, 끝위치, shannon 값

pile3['endpoint'] = pile3['pos'] + pile3['matches_y']
pile3

,chrom,pos,matches_x,matches_y,Unnamed: 0,shannon,endpoint
0,chr9,106056039,,0,0,0.0,106056039
1,chr9,106056040,,0,1,0.0,106056040
2,chr9,106056041,,0,2,0.0,106056041
3,chr9,106056042,,0,3,0.0,106056042
4,chr9,106056043,,0,4,0.0,106056043
...,...,...,...,...,...,...,...
83,chr9,106056122,CCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCC...,79,83,0.0,106056201
84,chr9,106056123,CCCCCCCCCCCCCCCCCCCCCC,22,84,0.0,106056145
85,chr9,106056124,AAAAAAAAAAAAAAAAAAAAAA,22,85,0.0,106056146
86,chr9,106056125,GGGGGGGGGGGGGGGGGGGGGG,22,86,0.0,106056147
87,chr9,106056126,GGGGGGGGGGGGGGGGGGGGG,21,87,0.0,106056147

In [115]:
pile7f3['endpoint'] = pile7f3['pos'] + pile7f3['matches_y']
pile7f3

,chrom,pos,matches_x,matches_y,Unnamed: 0,matches,endpoint
0,chr13,48691305,,0,0,0.0,48691305
1,chr13,48691306,,0,1,0.0,48691306
2,chr13,48691307,,0,2,0.0,48691307
3,chr13,48691308,,0,3,0.0,48691308
4,chr13,48691309,,0,4,0.0,48691309
...,...,...,...,...,...,...,...
77,chr13,48691382,GGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGG...,130,77,0.0,48691512
78,chr13,48691383,CCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCC...,129,78,0.0,48691512
79,chr13,48691384,CCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCC...,130,79,0.0,48691514
80,chr13,48691385,TTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTT...,129,80,0.0,48691514
81,chr13,48691386,TTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTT...,124,81,0.0,48691510

In [116]:
pile7d3['endpoint'] = pile7d3['pos'] + pile7d3['matches_y']
pile7d3

,chrom,pos,matches_x,matches_y,Unnamed: 0,matches,endpoint
0,chr13,48689488,,0,0,0.0,48689488
1,chr13,48689489,,0,1,0.0,48689489
2,chr13,48689490,,0,2,0.0,48689490
3,chr13,48689491,,0,3,0.0,48689491
4,chr13,48689492,,0,4,0.0,48689492
...,...,...,...,...,...,...,...
82,chr13,48689570,GGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGG...,109,82,0.0,48689679
83,chr13,48689571,CCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCC...,79,83,0.0,48689650
84,chr13,48689572,CCCCCCCCCCCCCCCCCCCCCC,22,84,0.0,48689594
85,chr13,48689573,AAAAAAAAAAAAAAAAAAAAAA,22,85,0.0,48689595
86,chr13,48689574,GGGGGGGGGGGGGGGGGGGGGG,22,86,0.0,48689596

In [117]:
pile4 = pile3.drop(['matches_x'], axis = 1)
pile7f4 = pile7f3.drop(['matches_x'], axis = 1)
pile7d4 = pile7d3.drop(['matches_x'], axis = 1)

In [ ]:
pile4 = pile3.drop(['matches_x'], axis = 1)
pile4 = pile4.drop(['Unnamed: 0'], axis = 1)
pile4

   chrom        pos  matches_y  shannon   endpoint
0   chr9  106056039          0      0.0  106056039
1   chr9  106056040          0      0.0  106056040
2   chr9  106056041          0      0.0  106056041
3   chr9  106056042          0      0.0  106056042
4   chr9  106056043          0      0.0  106056043
..   ...        ...        ...      ...        ...
83  chr9  106056122         79      0.0  106056201
84  chr9  106056123         22      0.0  106056145
85  chr9  106056124         22      0.0  106056146
86  chr9  106056125         22      0.0  106056147
87  chr9  106056126         21      0.0  106056147

[88 rows x 5 columns]

In [118]:
pile7f4 = pile7f3.drop(['matches_x'], axis = 1)
pile7f4 = pile7f4.drop(['Unnamed: 0'], axis = 1)
pile7f4

    chrom       pos  matches_y  matches  endpoint
0   chr13  48691305          0      0.0  48691305
1   chr13  48691306          0      0.0  48691306
2   chr13  48691307          0      0.0  48691307
3   chr13  48691308          0      0.0  48691308
4   chr13  48691309          0      0.0  48691309
..    ...       ...        ...      ...       ...
77  chr13  48691382        130      0.0  48691512
78  chr13  48691383        129      0.0  48691512
79  chr13  48691384        130      0.0  48691514
80  chr13  48691385        129      0.0  48691514
81  chr13  48691386        124      0.0  48691510

[82 rows x 5 columns]

In [119]:
pile7d4 = pile7d3.drop(['matches_x'], axis = 1)
pile7d4 = pile7d4.drop(['Unnamed: 0'], axis = 1)
pile7d4

    chrom       pos  matches_y  matches  endpoint
0   chr13  48689488          0      0.0  48689488
1   chr13  48689489          0      0.0  48689489
2   chr13  48689490          0      0.0  48689490
3   chr13  48689491          0      0.0  48689491
4   chr13  48689492          0      0.0  48689492
..    ...       ...        ...      ...       ...
82  chr13  48689570        109      0.0  48689679
83  chr13  48689571         79      0.0  48689650
84  chr13  48689572         22      0.0  48689594
85  chr13  48689573         22      0.0  48689595
86  chr13  48689574         22      0.0  48689596

[87 rows x 5 columns]

In [120]:
pile5 = pile4.drop(['matches_y'], axis = 1)
pile5

   chrom        pos  Unnamed: 0  shannon   endpoint
0   chr9  106056039           0      0.0  106056039
1   chr9  106056040           1      0.0  106056040
2   chr9  106056041           2      0.0  106056041
3   chr9  106056042           3      0.0  106056042
4   chr9  106056043           4      0.0  106056043
..   ...        ...         ...      ...        ...
83  chr9  106056122          83      0.0  106056201
84  chr9  106056123          84      0.0  106056145
85  chr9  106056124          85      0.0  106056146
86  chr9  106056125          86      0.0  106056147
87  chr9  106056126          87      0.0  106056147

[88 rows x 5 columns]

In [122]:
pile7f5 = pile7f4.drop(['matches_y'], axis = 1)
pile7d5 = pile7d4.drop(['matches_y'], axis = 1)

In [123]:
pile5 = pile5[['chrom','pos','endpoint','shannon']]
pile5

   chrom        pos   endpoint  shannon
0   chr9  106056039  106056039      0.0
1   chr9  106056040  106056040      0.0
2   chr9  106056041  106056041      0.0
3   chr9  106056042  106056042      0.0
4   chr9  106056043  106056043      0.0
..   ...        ...        ...      ...
83  chr9  106056122  106056201      0.0
84  chr9  106056123  106056145      0.0
85  chr9  106056124  106056146      0.0
86  chr9  106056125  106056147      0.0
87  chr9  106056126  106056147      0.0

[88 rows x 4 columns]

In [126]:
pile7d5

    chrom       pos  matches  endpoint
0   chr13  48689488      0.0  48689488
1   chr13  48689489      0.0  48689489
2   chr13  48689490      0.0  48689490
3   chr13  48689491      0.0  48689491
4   chr13  48689492      0.0  48689492
..    ...       ...      ...       ...
82  chr13  48689570      0.0  48689679
83  chr13  48689571      0.0  48689650
84  chr13  48689572      0.0  48689594
85  chr13  48689573      0.0  48689595
86  chr13  48689574      0.0  48689596

[87 rows x 4 columns]

In [128]:
pile7d5 = pile7d5[['chrom','pos','endpoint','matches']]
pile7f5 = pile7f5[['chrom','pos','endpoint','matches']]

In [129]:
pile5.columns = ['Chromosome','Start','End','shannon']
pile5

   Chromosome      Start        End  shannon
0        chr9  106056039  106056039      0.0
1        chr9  106056040  106056040      0.0
2        chr9  106056041  106056041      0.0
3        chr9  106056042  106056042      0.0
4        chr9  106056043  106056043      0.0
..        ...        ...        ...      ...
83       chr9  106056122  106056201      0.0
84       chr9  106056123  106056145      0.0
85       chr9  106056124  106056146      0.0
86       chr9  106056125  106056147      0.0
87       chr9  106056126  106056147      0.0

[88 rows x 4 columns]

In [130]:
pile7d5.columns = ['Chromosome','Start','End','shannon']
pile7f5.columns = ['Chromosome','Start','End','shannon']

In [ ]:
#os.system('cut -d "," -f 1,2,3,4 pile5.txt > pile5.bed')

0

In [131]:
pip install fuc==0.26

Collecting fuc==0.26
  Downloading fuc-0.26.0-py3-none-any.whl (128 kB)
     |████████████████████████████████| 128 kB 28.8 MB/s
Requirement already satisfied: statsmodels in /usr/local/lib/python3.7/dist-packages (from fuc==0.26) (0.10.2)
Requirement already satisfied: scipy in /usr/local/lib/python3.7/dist-packages (from fuc==0.26) (1.4.1)
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (from fuc==0.26) (1.3.5)
Collecting pyranges
  Downloading pyranges-0.0.117.tar.gz (684 kB)
     |████████████████████████████████| 684 kB 58.0 MB/s
Collecting pysam
  Downloading pysam-0.19.0-cp37-cp37m-manylinux_2_12_x86_64.manylinux2010_x86_64.whl (15.0 MB)
     |████████████████████████████████| 15.0 MB 30.8 MB/s
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from fuc==0.26) (1.21.6)
Collecting biopython
  Downloading biopython-1.79-cp37-cp37m-manylinux_2_5_x86_64.manylinux1_x86_64.whl (2.3 MB)
     |████████████████████████████████| 2.3 MB 50.4 MB/s
Requirement already satisfied: matplotlib in /usr/local/lib/python3.7/dist-packages (from fuc==0.26) (3.2.2)
Requirement already satisfied: matplotlib-venn in /usr/local/lib/python3.7/dist-packages (from fuc==0.26) (0.11.7)
Requirement already satisfied: lxml in /usr/local/lib/python3.7/dist-packages (from fuc==0.26) (4.2.6)
Requirement already satisfied: seaborn in /usr/local/lib/python3.7/dist-packages (from fuc==0.26) (0.11.2)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->fuc==0.26) (3.0.9)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->fuc==0.26) (2.8.2)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib->fuc==0.26) (0.11.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->fuc==0.26) (1.4.2)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.7/dist-packages (from kiwisolver>=1.0.1->matplotlib->fuc==0.26) (4.2.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.1->matplotlib->fuc==0.26) (1.15.0)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas->fuc==0.26) (2022.1)
Requirement already satisfied: cython in /usr/local/lib/python3.7/dist-packages (from pyranges->fuc==0.26) (0.29.29)
Collecting ncls>=0.0.63
  Downloading ncls-0.0.64.tar.gz (470 kB)
     |████████████████████████████████| 470 kB 70.5 MB/s
Requirement already satisfied: tabulate in /usr/local/lib/python3.7/dist-packages (from pyranges->fuc==0.26) (0.8.9)
Collecting sorted_nearest>=0.0.33
  Downloading sorted_nearest-0.0.33.tar.gz (1.2 MB)
     |████████████████████████████████| 1.2 MB 59.5 MB/s
  Installing build dependencies ... done
  Getting requirements to build wheel ... done
    Preparing wheel metadata ... done
Collecting pyrle
  Downloading pyrle-0.0.34.tar.gz (400 kB)
     |████████████████████████████████| 400 kB 68.6 MB/s
  Installing build dependencies ... done
  Getting requirements to build wheel ... done
    Preparing wheel metadata ... done
Requirement already satisfied: natsort in /usr/local/lib/python3.7/dist-packages (from pyranges->fuc==0.26) (5.5.0)
Requirement already satisfied: patsy>=0.4.0 in /usr/local/lib/python3.7/dist-packages (from statsmodels->fuc==0.26) (0.5.2)
Building wheels for collected packages: pyranges, ncls, sorted-nearest, pyrle
  Building wheel for pyranges (setup.py) ... done
  Created wheel for pyranges: filename=pyranges-0.0.117-py3-none-any.whl size=693480 sha256=3d13c1c2dd9e916481c1cf991fe5f91f6ec239652534305e6a5ce96259c077c3
  Stored in directory: /root/.cache/pip/wheels/1e/c2/29/66f7e4c0de384a3f525410e00111fb88afeb8fbdde3064526f
  Building wheel for ncls (setup.py) ... done
  Created wheel for ncls: filename=ncls-0.0.64-cp37-cp37m-linux_x86_64.whl size=1750115 sha256=c644999eb6819ddaf7607fc204ee9e0f982c82b262d8cd8569bce71b57393a88
  Stored in directory: /root/.cache/pip/wheels/79/26/09/fcf1ec1ec33026b62d283e507e55a1059f4ea96532205f1676
  Building wheel for sorted-nearest (PEP 517) ... done
  Created wheel for sorted-nearest: filename=sorted_nearest-0.0.33-cp37-cp37m-linux_x86_64.whl size=4491833 sha256=3ac3acf193c1e22385b58191bf09f3477f6e8c2eebe79d91448901f5fe468154
  Stored in directory: /root/.cache/pip/wheels/80/ba/8d/96eab78ed1196990267fd0fa7d5882d41d1fb430b5f91bf2ed
  Building wheel for pyrle (PEP 517) ... done
  Created wheel for pyrle: filename=pyrle-0.0.34-cp37-cp37m-linux_x86_64.whl size=1246265 sha256=421aa3075985cf33727c244831e1c708cb01816f464f6ba3a5a482aaf56dbe85
  Stored in directory: /root/.cache/pip/wheels/76/0d/31/e005504cdcbb6c24caa500feac20f61195da1bd5882e3f3572
Successfully built pyranges ncls sorted-nearest pyrle
Installing collected packages: sorted-nearest, pyrle, ncls, pysam, pyranges, biopython, fuc
Successfully installed biopython-1.79 fuc-0.26.0 ncls-0.0.64 pyranges-0.0.117 pyrle-0.0.34 pysam-0.19.0 sorted-nearest-0.0.33

In [132]:
from fuc import pybed

/usr/local/lib/python3.7/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [ ]:
pile5

   Chromosome      Start        End  shannon
0        chr9  106056039  106056039      0.0
1        chr9  106056040  106056040      0.0
2        chr9  106056041  106056041      0.0
3        chr9  106056042  106056042      0.0
4        chr9  106056043  106056043      0.0
..        ...        ...        ...      ...
83       chr9  106056122  106056201      0.0
84       chr9  106056123  106056145      0.0
85       chr9  106056124  106056146      0.0
86       chr9  106056125  106056147      0.0
87       chr9  106056126  106056147      0.0

[88 rows x 4 columns]

In [133]:
bf = pybed.BedFrame.from_frame(meta=[], data=pile5)

In [136]:
bf7f = pybed.BedFrame.from_frame(meta=[], data=pile7f5)
bf7d = pybed.BedFrame.from_frame(meta=[], data=pile7d5)

In [134]:
bf.to_file('file5.bed')

In [138]:
bf7f.to_file('file7f5.bed')
bf7d.to_file('file7d5.bed')

In [ ]:
!head file5.bed

chr9	106056039	106056039	0.0
chr9	106056040	106056040	0.0
chr9	106056041	106056041	0.0
chr9	106056042	106056042	0.0
chr9	106056043	106056043	0.0
chr9	106056044	106056044	0.0
chr9	106056045	106056091	0.8480036805619184
chr9	106056046	106056069	0.0
chr9	106056047	106056070	0.0
chr9	106056048	106056071	0.0

In [139]:
!head file7f5.bed

chr13	48691305	48691305	0.0
chr13	48691306	48691306	0.0
chr13	48691307	48691307	0.0
chr13	48691308	48691308	0.0
chr13	48691309	48691309	0.0
chr13	48691310	48691310	0.0
chr13	48691311	48691357	0.8480036805619184
chr13	48691312	48691335	0.0
chr13	48691313	48691336	0.0
chr13	48691314	48691337	0.0

In [140]:
!head file7d5.bed

chr13	48689488	48689488	0.0
chr13	48689489	48689489	0.0
chr13	48689490	48689490	0.0
chr13	48689491	48689491	0.0
chr13	48689492	48689492	0.0
chr13	48689493	48689493	0.0
chr13	48689494	48689540	0.8480036805619184
chr13	48689495	48689518	0.0
chr13	48689496	48689519	0.0
chr13	48689497	48689520	0.0

In [ ]:
file6

    Unnamed: 0 chrom  chromStart   chromEnd  shannon
0            0  chr9   106056039  106056039      0.0
1            1  chr9   106056040  106056040      0.0
2            2  chr9   106056041  106056041      0.0
3            3  chr9   106056042  106056042      0.0
4            4  chr9   106056043  106056043      0.0
..         ...   ...         ...        ...      ...
83          83  chr9   106056122  106056201      0.0
84          84  chr9   106056123  106056145      0.0
85          85  chr9   106056124  106056146      0.0
86          86  chr9   106056125  106056147      0.0
87          87  chr9   106056126  106056147      0.0

[88 rows x 5 columns]

In [ ]:
file6
bf = pybed.BedFrame.from_frame(meta=[],data = file6)

AssertionError: ignored

In [ ]:
!head fivepcounts-RPF-siLuc.bed

chr1	3176534	3176535	1
chr1	3196256	3196257	1
chr1	3221526	3221527	1
chr1	3221542	3221543	2
chr1	3221545	3221546	3
chr1	3221546	3221547	2
chr1	3221548	3221550	1
chr1	3221571	3221572	1
chr1	3221897	3221898	1
chr1	3221994	3221995	1

In [ ]:
pile5.bed

AttributeError: ignored